/* Teaser intro
##################################################################################################################### */

.zue-teaser-intro {

    .teaser-inner {
        position: relative;
        z-index: 10;

    }

    .bg-filler {
        display: none;
        position: absolute;
        z-index: -5;
        top: 0;
        left: 0;
        width: 66.68%;
        height: 100%;
        background: rgba(255, 255, 255, .9);

    }

    .img-replacer {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        bottom: 0;
        width: 34%;
        background: rgba(255, 255, 255, .9);

    }
}