$font-family-headline: "aa_zuehlke_otpsregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif: 'Open Sans', sans-serif;
$c-primary: rgb(255, 130, 10);
$c-brand: rgb(147, 95, 167);

.zue-branding-image {
  //background-image: url('../assets/images/wide/header_4_code.jpg');
  background-image: url('../assets/images/wide/banner-2.jpg');
  background-position-y: 50%;
}

.spinner {
  padding: 15px;
  background: url('../assets/spinner.gif') center center no-repeat;
  background-size: 32px 32px;
}

footer {
  display: flex;
}

#pagecontent .mobile-padding {
  padding: 0 6px;
}

/* surveyjs-overrides */

.sv_main {
  font-family: $font-family-sans-serif;
}

.sv_custom_header {
  height: auto !important;
}

.btn.sv_next_btn, .btn.sv_prev_btn, .btn.sv_complete_btn, .progress-bar {
  background-color: $c-primary !important;
}

div.small {
  margin-bottom: 15px;
}

.progress {
  width: 80%;
}

.zue-branding-inner {
  transition: opacity 0.5s ease-out;
}

.progress-bar > span {
  display: none;
}

.sv_qstn {



  @media (max-width: 961px) {

    span {
       margin-left: 0 !important;
     }

  }

  label {
    line-height: 1.1 !important;
    display: flex !important;
    align-items: center !important;
  }

}

@media (max-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  .progress {
    width: 90%;
  }

}

