.card {
  height: 333px !important;
}

.linkSection {
  margin: 40px 0;
}

.result-content {
  display: flex;

  .result-left {
    flex-grow: 2;
    flex-basis: 70%;
  }

  .contacts {
    flex-basis: 30%;
    flex-grow: 1;
    text-align: left;
    margin: 0;
    padding-left: 10%;

    .profile {
      flex-direction: column;
    }
  }
}

.feedback {
  margin-top: 40px;
}

textarea {
  resize: none;
}

@media screen and (max-width: 962px) {

  .result-content {

    flex-direction: column;

    .contacts {
      padding: 0;
    }

  }

}



.wrapper {
  margin: 20px 0;
  flex: 1;
  flex-direction: row;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  @media screen and (max-width: 962px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.info {
  margin: 0 20px;
  @media screen and (max-width: 962px) {
    height: 196px;
  }
}


.profile {
  display: flex;
  flex: 1;
  flex-direction: row;

  & img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    max-width: none;
    border-radius: 100%;
  }

  @media screen and (max-width: 497px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & p, h5 {
      text-align: center;
    }
  }
}


.name {
  margin-top: 10px;
  margin-bottom: 0;
  color: #ff820a;
  font-size: 26px;
}


.position {
  font-size: 14px;
  color: #9B9B9B;
}

.contactInfo {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  color: #ff820a;
  font-weight: bold;

  & i {
    display: flex;
    font-size: 21px;
    margin-bottom: -4px;
  }

  & span {
    display: flex;
    margin-left: 8px;
    font-size: 15px;
  }
}

.sectionName {
  padding-bottom: 20px;
  border-bottom: solid 2px #ff820a;
  @media screen and (max-width: 962px) {
    text-align: center;
    margin: 3px;
  }
}

.zue-box-inner, .zue-box-content {
  height: 100%;
}

.zue-box-content {
  display: flex;
  flex-direction: column;

  .teaser-text {
    overflow: hidden;
  }
}
