.scores-container {
  div.category-label {
    text-transform: capitalize;
  }

  div.category-descriptor {
    font-size: 1em;
  }
}

.score-bar-container {
  width: 100%;
  height: 1.5em;
  border: 1px solid #ff820a;
  border-radius: 3px;
  padding: 2px;
  margin: 10px 0;

  div.score-bar {
    height: 100%;
    background: #ff820a;
    border-radius: 2px;
    animation: 1s cubic-bezier(.17, .67, .19, .98) slideout;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    opacity: .8;
  }
}


@keyframes slideout {
  from {
    width: 0%;
  }
}