$zuhlke_orange: #ff820a;

.card {
  height: 333px !important;
}

.result-content {
  display: flex;

  .result-left {
    flex-grow: 2;
    flex-basis: 70%;

    > div {
      margin-bottom: 2rem;
    }
  }

  .contacts {
    flex-basis: 30%;
    flex-grow: 1;
    text-align: left;
    margin: 0;
    padding-left: 10%;

    .profile {
      flex-direction: column;
    }
  }
}

.validation-error {
  color: red;
  display: inline-block;
  padding: 5px 0;
}

.feedback {
  .feedback-form {
    transition: height .5s ease-out;

    &.collapsed {
      height: 0;
    }
  }

  button[type="submit"] {
    margin-top: 0.5em;
    padding: 10px;
  }
}

.feedback-saved-hint {
  padding-left: 5px;
}

textarea {
  resize: none;
}

@media screen and (max-width: 962px) {
  .result-content {

    flex-direction: column;

    .contacts {
      padding: 0;
    }
  }
}

.profiles {
  margin-top: 3rem;
  padding-top: 3rem;
  flex: 1;
  flex-direction: row;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-top: 2px solid $zuhlke_orange;

  @media screen and (max-width: 962px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile {
    display: flex;
    flex: 1;
    flex-direction: row;

    & img {
      width: 160px;
      height: 160px;
      object-fit: cover;
      max-width: none;
      border-radius: 100%;
    }

    @media screen and (max-width: 497px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & p, h5 {
        text-align: center;
      }
    }

    .info {
      margin: 0 1.5rem;
    }
  }
}

.name {
  margin-top: 0.5em;
  margin-bottom: 0;
  color: $zuhlke_orange;
  font-size: 1.5em;
}

.position {
  font-size: 0.9em;
  color: #9B9B9B;
}

.contactInfo {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  color: $zuhlke_orange;
  font-weight: bold;

  i {
    font-size: 1.25em;
  }

  span {
    margin-left: 0.75em;
    font-size: 0.9em;
  }
}

.experts {
  margin-bottom: 3rem;
  @media screen and (max-width: 962px) {
    text-align: center;
    margin: 0.5em;
  }
}

.zue-box-inner, .zue-box-content {
  height: 100%;
}

.zue-box-content {
  display: flex;
  flex-direction: column;

  .teaser-text {
    overflow: hidden;
  }
}
